PngImage_1 RCDATA "images\\WAIcon.png"
PngImage_2 RCDATA "images\\WEIcon.png"
PngImage_3 RCDATA "images\\bill.png"
PngImage_4 RCDATA "images\\ok.png"
PngImage_6 RCDATA "images\\arrowUp.png"
PngImage_7 RCDATA "images\\WAonewayIcon.png"
PngImage_8 RCDATA "images\\WEonewayIcon.png"
PngImage_5 RCDATA "images\\balancedIcon.png"
PngImage_9 RCDATA "images\\InOutIcon.png"
